@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Noto Sans", sans-serif;*/
    font-family: "Josefin Sans", sans-serif;
}
body{
    background: #F5F5F5;
}
.disabled-link {
    color: #999;
}